/* Wedding template scss file */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Niconne|cursive");
.bg-1 {
  background-image: url("./images/bg/img1.jpg");
}

.bg-2 {
  background-image: url("./images/bg/img2.jpg");
}

.bg-3 {
  background-image: url("./images/bg/img3.jpg");
}

.bg-wedding {
  background-color: #d65779;
}

.btn-wedding {
  color: #fff;
  background-color: #d65779;
  border-color: #d65779;
}

.bg-overlay {
  position: relative;
}
.bg-overlay:before, .bg-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bg-overlay:after {
  background-color: rgba(0, 0, 0, 0.3);
}

.bottom-shadow {
  box-shadow: 0 0 3px #b5b5b5;
}

.headline {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-family: "Niconne", cursive;
}
.headline > span {
  color: #d65779;
}

.font-size-14 {
  font-size: 14px !important;
}

.wedding-font {
  font-family: "Niconne", cursive;
}

.wedding-color {
  color: #d65779;
}

.navbar-wedding {
  background-color: #fff;
  padding: 1rem 1rem;
  transition: all 0.5s ease;
}
.navbar-wedding .navbar-brand {
  font-family: "Niconne", cursive;
  color: #d65779;
  font-size: 2rem;
}
.navbar-wedding .active > .nav-link {
  color: #d65779 !important;
}
.navbar-wedding .nav-link {
  color: #333 !important;
}

.banner__slick {
  font-size: 0;
}
.banner__slick .item {
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .banner__slick .item {
    height: 100vh;
  }
}

.banner__text {
  font-size: 1rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner__text h2 {
  color: #fff;
  font-size: 2rem;
  font-family: "Niconne", cursive;
}
@media (min-width: 992px) {
  .banner__text h2 {
    font-size: 6rem;
  }
}

.about__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
}
.about__top > p {
  text-align: center;
}

.about__middle__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about__middle__card > img {
  border-radius: 50%;
  max-width: 200px;
}
.about__middle__card > h4 {
  font-family: "Niconne", cursive;
  font-size: 2rem;
}
.about__middle__card .social-links > a {
  padding: 0.5rem 0.5rem;
  color: #666;
}

.about__down {
  background-color: #d65779;
  color: #fff;
}
.about__down i.fa {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 2rem;
}
.about__down p {
  color: rgba(255, 255, 255, 0.6);
}

.presentation {
  padding: 6rem 0;
  background-image: url("./images/bg/img4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.presentation .container {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.gallery {
  padding: 6rem 0;
}
.gallery .container.gallery__top {
  max-width: 1024px;
}
.gallery .container.gallery__top > h2 {
  font-family: "Niconne", cursive;
  font-size: 4rem;
}
.gallery .container.gallery__top > h2 > span {
  color: #d65779;
}

.photo {
  position: relative;
}
.photo .photo__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #d65779;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.photo .photo__text:hover {
  opacity: 0.9;
}
.photo .photo__names {
  font-family: "Niconne", cursive;
}

.services {
  padding: 6rem 0;
  background-color: #d65779;
  color: #fff;
}
.services .container.services__top {
  max-width: 720px;
}
.services .container.services__top > p {
  color: #dedede;
}

.service {
  padding: 1rem;
  background-color: #fff;
  color: #333;
  transition: all 0.5s ease-in-out;
}
.service > figure {
  box-shadow: 2px 2px 2px #f4f4f4;
  padding: 0.5rem;
  margin-bottom: 0;
}
.service .service__text {
  padding: 1rem;
  text-align: center;
}
.service .service__text > .server__title {
  font-family: "Niconne", cursive;
  color: #333;
  font-size: 2rem;
}
.service .service__text > p {
  color: #888;
}
.service:hover {
  background-color: #d65779;
}
.service:hover > figure {
  box-shadow: none;
}
.service:hover > .service__text > .server__title {
  color: #fff;
}
.service:hover > .service__text > p {
  color: #ddd;
}
.service:hover .btn-wedding {
  color: #d65779;
  background-color: #fff;
  border-color: #fff;
}

.pricing {
  padding: 6rem 0;
}
.pricing .offers__top {
  max-width: 1024px;
}

.plan-card {
  background-color: #f5f5f5;
  transition: all 0.5s ease;
}
.plan-card .plan-card__header {
  background-color: #d65779;
  padding: 1rem;
  text-align: center;
  color: #fff;
}
.plan-card .plan-card__text {
  padding: 2rem 1rem;
  text-align: center;
}
.plan-card .plan-card__price {
  color: #d65779;
}
.plan-card .plan-card__description {
  color: #333;
}
.plan-card:hover {
  transform: translateY(-15px);
}

.news {
  padding: 6rem 0;
  background-color: #f9f9f9;
}

.posts__slick .slick-prev, .posts__slick .slick-next {
  background-color: #eee;
}

.post-card {
  transition: all 0.5s ease;
}
.post-card .post-card__space {
  margin: 0 0.5rem;
}
.post-card .post-card__content {
  padding: 2rem 2rem;
}
.post-card .post-card__title {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}
.post-card .post-card__author > a {
  color: #d65779;
}
.post-card:hover {
  transform: translateY(15px);
}

.slick-dots {
  bottom: -70px;
}

.contact .contact__68 {
  background-image: url("./images/contacts/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact .first-block {
  display: block;
  position: relative;
}
.contact .first-block .w-100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(214, 87, 121, 0.8);
  color: #fff;
}
.contact .first-block .w-100 > h3 {
  font-family: "Niconne", cursive;
}

.contact-box {
  width: 100%;
  height: 100%;
  background-color: rgba(214, 87, 121, 0.8);
  padding: 3.5rem 1.5rem;
  color: #fff;
}
.contact-box .contact-box__address h6 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  text-transform: uppercase;
}

.amap-copyright {
  display: none !important;
}

/*# sourceMappingURL=index.css.map */
