/* Wedding template scss file */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Niconne|cursive");
@import "~font-awesome/css/font-awesome.css";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "common";
// slick-carousel
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.bg-1 {
  background-image: url("../images/wedding/bg/img1.jpg");
}

.bg-2 {
  background-image: url("../images/wedding/bg/img2.jpg");
}

.bg-3 {
  background-image: url("../images/wedding/bg/img3.jpg");
}

.bg-wedding {
  background-color: #d65779;
}

.btn-wedding {
  color: #fff;
  background-color: $wedding-color;
  border-color: $wedding-color
}

.bg-overlay {
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:after {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.bottom-shadow {
  box-shadow: 0 0 3px #b5b5b5;
}

.headline {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-family: $wedding-font-familly-1;
  > span {
    color: $wedding-color;
  }
}

.font-size-14{
  font-size: 14px !important;
}

.wedding-font{
  font-family: $wedding-font-familly-1;
}

.wedding-color{
  color:$wedding-color;
}

// navbar
.navbar-wedding {
  background-color: #fff;
  padding: 1rem 1rem;
  transition: all 0.5s ease;
  .navbar-brand {
    font-family: $wedding-font-familly-1;
    color: $wedding-color;
    font-size: 2rem;
    //font-weight: bold;
  }
  .navbar-toggler {

  }
  .active > .nav-link {
    color: $wedding-color !important;
  }
  .nav-link {
    color: #333 !important;
  }
}

// banner
.banner__slick {
  font-size: 0;
  .item {
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    .item {
      height: 100vh;
    }
  }
}

.banner__text {
  font-size: 1rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h2 {
    color: #fff;
    font-size: 2rem;
    font-family: $wedding-font-familly-1;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    h2 {
      font-size: 6rem;
    }
  }
}

// about

.about__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  > p {
    text-align: center;
  }
}

.about__middle__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  > img {
    border-radius: 50%;
    max-width: 200px;
  }
  > h4 {
    font-family: $wedding-font-familly-1;
    font-size: 2rem;
  }

  .social-links {

    > a {
      padding: 0.5rem 0.5rem;
      color: #666;
    }
  }
}

.about__down {
  background-color: $wedding-color;
  color: #fff;
  i.fa {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 2rem;
  }
  p {
    color: rgba(255, 255, 255, 0.6);
  }
}

// presentation
.presentation {
  padding: 6rem 0;
  background-image: url("../images/wedding/bg/img4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  .container {
    position: relative;
    z-index: 2;
    max-width: 800px;
  }
}

// gallery
.gallery {
  padding: 6rem 0;
  .container.gallery__top {
    max-width: 1024px;
    > h2 {
      font-family: $wedding-font-familly-1;
      font-size: 4rem;
      > span {
        color: $wedding-color;
      }
    }
  }
}

.photo {
  position: relative;
  .photo__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $wedding-color;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    &:hover {
      opacity: 0.9;
    }
  }
  .photo__names {
    font-family: $wedding-font-familly-1;
  }

}

// services

.services {
  padding: 6rem 0;
  background-color: $wedding-color;
  color: #fff;
  .container.services__top {
    max-width: 720px;
    >p{
      color:#dedede;
    }
  }
}

.service {
  padding: 1rem;
  background-color: #fff;
  color: #333;
  transition: all 0.5s ease-in-out;
  > figure {
    box-shadow: 2px 2px 2px #f4f4f4;
    padding: 0.5rem;
    margin-bottom: 0;
  }
  .service__text {
    padding: 1rem;
    text-align: center;
    > .server__title {
      font-family: $wedding-font-familly-1;
      color: #333;
      font-size: 2rem;
    }
    > p {
      color: #888;
    }
  }

  &:hover {
    background-color: $wedding-color;
    > figure {
      box-shadow: none;
    }
    > .service__text {
      > .server__title {
        color: #fff;
      }
      > p {
        color: #ddd;
      }
    }
    .btn-wedding{
      color: $wedding-color;
      background-color: #fff;
      border-color: #fff;
    }
  }
}


// offers
.pricing{
  padding: 6rem 0;;
  .offers__top{
    max-width: 1024px;
  }
}

.plan-card{
  background-color: #f5f5f5;
  transition: all 0.5s ease;
  .plan-card__header{
    background-color: $wedding-color;
    padding:1rem;
    text-align: center;
    color:#fff;
  }

  .plan-card__text{
    padding:2rem 1rem;
    text-align: center;
  }
  .plan-card__price{
    color:$wedding-color;
  }
  .plan-card__description{
    color:#333;

  }

  &:hover{
    transform: translateY(-15px);
  }
}

// news
.news{
  padding: 6rem 0;
  background-color: #f9f9f9;
}

.posts__slick{
  .slick-prev, .slick-next{
    background-color: #eee;
  }
}


.post-card{
  transition: all 0.5s ease;
  .post-card__space{
    margin:0 0.5rem;
  }
  .post-card__content{
    padding:2rem 2rem;
  }
  .post-card__title{
    display: block;
    font-weight: bold;
    font-size: 1rem;
    color:#333;
  }
  .post-card__author{
    >a {
      color:$wedding-color;
    }
  }
  &:hover{
    transform: translateY(15px);
  }
}

// contact
.contact{
  //padding:6rem 0;
  .contact__68{
    background-image: url("../images/wedding/contacts/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact__col_lg_6{

  }
  .first-block{
    display: block;
    position: relative;
    .w-100{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height:100%;
      padding:1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(214,87,121,0.8);
      color:#fff;
      >h3{
        font-family: $wedding-font-familly-1;
      }
    }
  }
}

.contact-box{
  width: 100%;
  height:100%;
  background-color: rgba(214,87,121,0.8);

  padding: 3.5rem 1.5rem;
  color:#fff;
  .contact-box__address{
    h6{
      color:rgba(255,255,255,0.6);
      font-weight: normal;
      text-transform: uppercase;
    }
  }
}

// 高德地图 aMap
.amap-copyright{
  display: none !important;
}


// footer
.footer{

}

